<div class="container mt-5">
  <h5>Prepare Court Sheet</h5>

  
  <hr>


  <form [formGroup]="form" class="row g-3">

    <div class="col-md-4">
      <label for="court" class="form-label">Court <span style="color: red;">{{'' | required}}</span></label>
      <p-dropdown formControlName="court" [options]="list" optionLabel="court" ></p-dropdown>

      <div *ngIf="fc.court.errors?.required">
        <div *ngIf="fc.court.touched && fc.court.invalid" class="alert alert-danger">Field is required</div>
      </div>
    </div>

    <div class="col-md-4">
        <label for="courtDate" class="form-label">Court Date<span style="color: red;">{{'' | required}}</span></label>

        <input type="date" class="form-control" id="courtDate" formControlName="courtDate" placeholder="">
        
        <div *ngIf="fc.courtDate.errors?.required">
            <div *ngIf="fc.courtDate.touched && fc.courtDate.invalid" class="alert alert-danger">Field is required</div>
        </div>
    </div>

    <div class="col-md-4">
        <label for="" class="form-label">Sort By</label>
        <p-dropdown formControlName="sortBy" [options]="sortByOptions" class="form-control"></p-dropdown>
        <!-- <select name="" id="" class="form-select" formControlName="sortBy">
          <option selected disabled value="">Default</option>
          <option>Ticket No</option>
          <option>Issue Date</option>
          <option>Offender Name</option>
        </select> -->
    </div>

    <div class="col-md-4">
        <label for="courtDate4" class="form-label">Number of records to be fetched<span style="color: red;">{{'' | required}}</span></label>
        <input name="" id="" class="form-control" id="courtDate4" formControlName="recordNo" (keyup)="recordNo($event)">
        <div *ngIf="fc.recordNo.errors?.required">
          <div *ngIf="fc.recordNo.touched && fc.recordNo.invalid" class="alert alert-danger">Field is required</div>
        </div>
        <div *ngIf="fc.recordNo.errors?.pattern" class="alert alert-danger">Only numbers allowed</div>
    </div>

    <div class="col-md-4">
        <label for="entryMode" class="form-label">Mode of entry</label>
        <select id="entryMode" class="form-select" formControlName="mode">
          <option selected disabled value="">Choose mode of entry</option>
          <option>Offline</option>
          <option>Online</option>
        </select>
    </div>

    <div class="col-md-1"></div>



    <div class="col btn-top-gap">
        <button class="btn btn-success" (click)="submit()" [disabled]="form.invalid">Generate list</button>

        
    </div>


    <div class="col btn-top-gap">
        <button class="btn btn-success" (click)="clear()" >Clear</button>
        
    </div>



</form>

<div *ngIf="infoContent == true" class="section-2">
  <hr>
  <app-generate-info (childEmitter)="eventFired($event)"></app-generate-info>
</div>

</div>

