.container{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    margin:40px
}
/* hr{
    border: .8px solid rgba(0, 0, 0, 0.61) ;
} */

.btn-top-gap{
    margin-top: 50px;
}

.section-2{
    margin-top: 30px;
}